.root {
  overflow: hidden;
}

.container {
  display: flex;
  position: relative;
  flex: 0 0 100%;
}

.viewport {
}

.slide {
}

.prev,
.next {
  height: 20px;
  width: 20px;
  border: none;
  font-size: 30px;
  color: var(--white-color);
  background-color: inherit;
  border-radius: 50px;
  position: absolute;
  top: 40%;
}

.prev {
  left: 0;
}

.next {
  left: 90%;
}

@media screen and (min-width: 768px) {
  .root,
  .container {
    height: 86vh;
  }
}
