.root {
  overflow: hidden;
}

.container {
  display: flex;
  position: relative;
  flex: 0 0 100%;
}

.viewport {
}

.slide {
}

.prev,
.next {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50px;
  position: absolute;
}

.prev {
  top: 0;
  left: 0;
}

.next {
  top: 0;
  left: 200px;
}
