.root {
  overflow: hidden;
}

.container {
  display: flex;
  position: relative;
  flex: 0 0 100%;
}

.viewport {
}

.slide {
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 110px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .btn {
    position: relative;
    right: 15%;
  }
}
