:root {
  /* Colors */
  --dark-color: #0b0d17;
  --lilac-color: #d0d6f9;
  --white-color: #fff;

  /* Fonts */
  --barlow-font: 'Barlow Condensed', sans-serif;
  --cormorant-font: 'Cormorant Garamond', serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--cormorant-font);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  /* font-family: var(--cormorant-font); */
  margin: 0;
}

h5,
a {
  font-family: var(--barlow-font);
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
  letter-spacing: 4.75px;
  font-family: var(--barlow-font);
}

p {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 25px;
  }

  h5 {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 50px;
  }

  h4 {
    font-size: 40px;
  }

  h5 {
    font-size: 28px;
    letter-spacing: 4.75px;
    font-family: var(--barlow-font);
  }

  p {
    font-size: 20px;
  }
}
