.root {
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.num {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .root {
    justify-content: flex-start;
    margin-left: 45px;
  }
}
