.root {
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.num {
  margin-right: 10px;
  color: gray;
  font-family: var(--barlow-font);
}

@media screen and (min-width: 768px) {
  .root {
    align-self: flex-start;
    margin-left: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .root {
    justify-content: flex-start;
  }
}
