.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
  text-transform: uppercase;
}

.nav,
.line {
  display: none;
}

.logo {
  margin-left: 5%;
}

@media screen and (min-width: 768px) {
  .root {
    margin-top: 0;
  }

  /* .logo {
    height: 20px;
  } */

  .nav {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px 25px;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
  }

  .navList {
    color: var(--white-color);
    display: flex;
    margin-left: auto;
    margin-right: 40px;
  }

  .link {
    list-style-type: none;
    margin-left: 40px;
    font-size: 15px;
  }

  .num {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .root {
    margin-top: 40px;
  }
  /* 
  .logo {
    height: 100%;
  } */

  .line {
    display: block;
    position: relative;
    left: 40px;
    height: 1px;
    width: 30%;
    background-color: white;
    opacity: 0.2;
  }

  .nav {
    width: 60%;
    justify-content: space-evenly;
  }

  .navList {
    color: var(--white-color);
    display: flex;
    margin-left: 0;
    padding: 0 20px;
  }

  .link {
    list-style-type: none;
    font-size: 20px;
  }

  .link:hover {
    cursor: pointer;
  }

  .num {
    display: inline-block;
    padding-right: 10px;
  }
}
