.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  height: 100px;
  text-transform: uppercase;
}

.nav {
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.7);
}

.navList {
  color: var(--white-color);
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  filter: none;
}

.link {
  list-style-type: none;
  margin-left: 20px;
  font-size: 20px;
}

.num {
  padding-right: 20px;
}
