.root {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.crew {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%;
}

.crewImg {
  height: 150px;
  width: 125px;
  margin: 0 auto;
}

.line {
  display: block;
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background-color: var(--white-color);
  opacity: 0.2;
}

.bio {
  width: 50%;
  margin-bottom: 20px;
}
