.root {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.crew {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%;
}

.crewImg {
  height: 150px;
  width: 125px;
  margin: 0 auto;
}

.line {
  display: block;
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background-color: var(--white-color);
  opacity: 0.2;
}

.textContainer {
  text-align: center;
}

.role {
}

.name {
  margin-bottom: 25px;
}

.bio {
  width: 50%;
  margin: 0px auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .imgContainer {
    position: absolute;
    bottom: 0;
  }

  .line {
    display: none;
  }

  .crewImg {
    height: 550px;
    width: 450px;
  }
}
