.root {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crewImg {
  height: 250px;
  width: 200px;
}

.line {
  display: block;
  position: relative;
  height: 1px;
  background-color: white;
  opacity: 0.2;
}
