.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white-color);
  text-transform: uppercase;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img {
  height: 150px;
  width: 150px;
}

.button {
  margin: 20px 15px;
  padding: 0;
  padding-bottom: 20px;
  border: 2px solid transparent;
  background-color: inherit;
  text-decoration: none;
  color: var(--lilac-color);
  transition: all 0.5s;
}

.button:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}

.textContainer {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.description {
  font-size: 12px;
  padding-bottom: 50px;
  height: 90px;
}

.line {
  display: block;
  position: relative;
  height: 1px;
  background-color: white;
  opacity: 0.2;
}

.test {
  margin-top: 20px;
}

.distanceHeader {
  margin: 0;
  margin-bottom: 10px;
  font-size: 12px;
}

.distance {
  margin-top: 0;
  font-size: 30px;
  font-family: var(--barlow-font);
}

@media screen and (min-width: 768px) {
  .textContainer {
    width: 50%;
  }
  .test {
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .root {
    display: flex;
    justify-content: space-evenly;
  }

  .container {
    flex-direction: row;
  }

  .subContainer {
    display: flex;
    flex-direction: column;
  }

  .button {
    font-size: 20px;
  }

  .img {
    margin-left: 15%;
    height: 400px;
    width: 400px;
  }
}
