.root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.link {
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .root {
    height: 200px;
    width: 200px;
  }

  .link {
    font-size: 30px;
  }
}
