.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  border: none;
  transition: all 1s;
}

.btn {
  height: 50px;
  width: 50px;
  margin: 20px 15px;
  color: var(--white-color);
  border: 1px solid white;
  border-radius: 50%;
  background-color: inherit;
  transition: all 0.5s;
}

.btn:hover {
  background-color: var(--white-color);
  color: var(--dark-color);
  cursor: pointer;
}

.imgContainer {
  width: 100%;
  height: 180px;
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.textContainer {
  margin: 0 auto;
  text-align: center;
}

.subTitle {
  color: var(--white-color);
}

.title,
.description {
  text-transform: uppercase;
  color: var(--white-color);
}

.description {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0;
  font-size: 15px;
}

@media screen and (min-width: 500px) {
  .imgContainer {
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .imgContainer {
    height: 400px;
  }

  .buttons {
    margin-top: 50px;
  }
  .btn {
    height: 80px;
    width: 80px;
    margin: 40px 30px;
  }

  .textContainer {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .subContainer {
    display: flex;
    align-items: center;
  }

  .imgContainer {
    display: flex;
    justify-content: flex-end;
    height: 500px;
    order: 3;
  }

  .buttons {
    margin-top: 0;
    flex-direction: column;
    justify-content: space-between;
  }

  .btn {
    margin: 30px;
  }

  .textContainer {
    text-align: left;
    margin-left: 10px;
  }

  .subTitle {
    margin-top: 0;
  }

  .description {
    line-height: 35px;
  }
}
